section {
    width: 40%;
    margin: 20px auto 10px auto;
    padding: 20px;
}

#user_select_container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    width: 20%;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
}

#user_select_container label {
    margin: 5px;
}