section {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}

#user_select_container,
#agenda_form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
}

#user_select_container label {
    margin: 5px;
}

#agenda_form {
    display: none;
}

#agenda_form input {
    margin: 10px 0;
}

button {
    margin: 5px;
    padding: 5px;
}

#delete_agenda {
    display: none;
}